@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    overflow: hidden;
    background: #212121;
}

audio {
    display: none;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #212121;
}

#circle {
    width: 75px;
    height: 75px;
    background: #9C27B0;
}

.music {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #ffffff;
    font-family: "Roboto";
}

.cover {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    background: black;
}

img {
    width: 100%;
}

.text {
    margin-left: 10px;
    display: inline-block;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.25rem;
    font-weight: 300;
}

h2 {
    font-size: 1rem;
    font-weight: 300;
    color: #eee;
}

h3 {
    font-size: 0.5rem;
    font-weight: 300;
    color: #666;
}

h4 {
    margin-bottom: 5px;
    font-weight: 100;
    color: #333;
}
